# Example config for Workflow Agent service
WORKFLOW_AGENT_MAIN_SERVER_URL=https://btlweb/api
WORKFLOW_AGENT_SSL_VERIFY=1
WORKFLOW_AGENT_DISABLE_REMOTE_IMPORTS=0
WORKFLOW_AGENT_DISABLE_PETEX=0
# WORKFLOW_AGENT_API_KEY=
# WORKFLOW_AGENT_AUTH_TOKEN=
# WORKFLOW_AGENT_REFRESH_TOKEN=
# WORKFLOW_AGENT_USERNAME=
# WORKFLOW_AGENT_PASSWORD=
