<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Workflow Agent"
    Manufacturer="ProdCast"
    Version="$(var.ProductVersion)"
    UpgradeCode="4A7F7A6D-0219-4D3F-884B-9A9BC7B65271"
    Scope="perMachine">

    <SummaryInformation Description="Workflow Agent Windows Installer" />
    <MediaTemplate EmbedCab="yes" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Workflow Agent is already installed." />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="WorkflowAgent" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Workflow Agent" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="cmpRunner" Guid="*">
        <File Id="filRunner" Source="$(var.SourceDir)\WorkflowAgentRunner.exe" KeyPath="yes" />
      </Component>

      <Component Id="cmpServiceExe" Guid="*">
        <File Id="filServiceExe" Source="$(var.SourceDir)\WorkflowAgentService.exe" KeyPath="yes" />
        <ServiceInstall
          Id="svcInstall"
          Name="WorkflowAgentService"
          DisplayName="Workflow Agent Service"
          Description="Runs Workflow Agent workflows locally."
          Type="ownProcess"
          Start="auto"
          ErrorControl="normal"
          Vital="yes" />
        <ServiceControl
          Id="svcControl"
          Name="WorkflowAgentService"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />
      </Component>

      <Component Id="cmpServiceXml" Guid="*">
        <File Id="filServiceXml" Source="$(var.SourceDir)\WorkflowAgentService.xml" KeyPath="yes" />
      </Component>

      <Component Id="cmpEnv" Guid="*">
        <File Id="filEnv" Source="$(var.SourceDir)\service.env" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
